my-body {
    font-family:'Source Sans Pro', 'Helvetica Neue';
    font-size:16px;
    background:#000;
    color:#fff;
  }
  my-body.light {
    background:#fff;
    color:#111;
  }
  #my-toolbar {
    position:relative;
    top:0;
    left:0;
    width:100%;
    line-height:25px;
    padding:10px;
    box-sizing:border-box;
    transition:0.15s;
    opacity:0;
    z-index:999999999;
    animation:3s toolbar ease-in-out;
  }
  #my-toolbar:hover {
    opacity:1;
  }
  @keyframes toolbar {
    0%,50%{opacity:1}
  }
  #my-theme {
    padding-right:15px;
    float:left;
  }
  #my-toolbar .link{
    float:right;
  }
  #my-toolbar a {
    color:inherit;
    text-decoration:none;
  }
  #win,
  #finished{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:inherit;
    color:inherit;
    z-index:9999;
    display:none;
  }
  #win .text,
  #finished .text {
    position:static;
    top:50%;
    left:50%;
    font-size:40px;
    font-weight:100;
    transform:translate3d(-50%,-50%,0);
  }
  my-body.light #win .text,
  my-body.light #finished .text {
    color:#111!important;
  }
  div[class^="level"] {
    border: 3px solid red;
    // position:relative;
    top:50%;
    left:50%;
    width:280px;
    transform:translate3d(-50%,-50%,0);
    display:none;
  }
  div[class^="level"] .text {
    border: 3px solid black;
    font-size:19px;
    padding-top:20px;
    clear:both;
    overflow:hidden;
  }
  div[class^="level"] .text span {
    padding:10px 0 0;
    font-size:15px;
    display:block;
  }
  div[class^="level"] .text.center {
    text-align:center;
  }
  div[class^="level"] .block,
  #createLevel .newLevel .block {
    // position:relative;
    border: 3px solid green;
    width:70px;
    height:70px;
    float:left;
    cursor:pointer;
    overflow:hidden;
    transition:0.15s ease-in-out;
  }
  div[class^="level"] .block.curve:before,
  #createLevel .newLevel .block.curve:before {
    position:relative;
    top:0;
    left:0;
    width:70px;
    height:70px;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/curve.png) 50% 50% / contain no-repeat;
    display:block;
    content:'';
  }
  div[class^="level"] .block.curve.double:before,
  #createLevel .newLevel .block.curve.double:before {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/curve-double.png) 50% 50% / contain no-repeat;
  }
  div[class^="level"] .block.straight:before,
  #createLevel .newLevel .block.straight:before {
    position:fixed;
    top:0;
    left:0;
    width:70px;
    height:70px;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/straight.png) 50% 50% / contain no-repeat;
    display:block;
    content:'';
  }
  div[class^="level"] .block.straight.double:before,
  #createLevel .newLevel .block.straight.double:before {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/straight-double.png) 50% 50% / contain no-repeat;
  }
  div[class^="level"] .block.end:before,
  #createLevel .newLevel .block.end:before {
    position:relative;
    top:0;
    left:0;
    width:70px;
    height:70px;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/end.png) 50% 50% / contain no-repeat;
    display:block;
    content:'';
  }
  
  my-body.light div[class^="level"] .block,
  my-body.light #createLevel .newLevel .block {
    -webkit-filter: invert(1);
     filter: invert(1);
  }
  div[class^="level"] .block.r1,
  #createLevel .newLevel .block.r1{
    transform:rotate(0deg);
  }
  div[class^="level"] .block.r2,
  #createLevel .newLevel .block.r2{
    transform:rotate(90deg);
  }
  div[class^="level"] .block.r3,
  #createLevel .newLevel .block.r3{
    transform:rotate(180deg);
  }
  div[class^="level"] .block.r4,
  #createLevel .newLevel .block.r4{
    transform:rotate(270deg);
  }
  
  #createLevel {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:inherit;
    color:inherit;
    z-index:99999;
    display:none;
  }
  #createLevel .newLevel {
    position:fixed;
    top:50%;
    left:50%;
    width:280px;
    transform:translate3d(-50%,-50%,0);
  }
  #createLevel .newLevel .block {
    border: 1px solid #fff;
    box-sizing: border-box;
  }
  #createLevel .stats {
    position:fixed;
    bottom:80px;
    width:100%;
    height:25px;
    line-height:25px;
    text-align:center;
  }
  #createLevel .tools {
    position:fixed;
    bottom:0;
    left:50%;
    width:280px;
    height:80px;
    transform:translate3d(-50%,0,0);
  }
  my-body.light #createLevel .tools {
    -webkit-filter: invert(1);
     filter: invert(1);
  }
  #createLevel .tools img {
    margin:10px;
    width:50px;
    height:50px;
    float:left;
    border:2px solid #fff;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
  }