<river-body
data-gamestarted="no"
data-gameended="no"
data-screenchoose="no"
data-width="1024"
data-height="640"
data-pxsize="32"
data-playwidth="1"
data-meander="200"
data-spid="320"
data-fuel="125"
data-fueleak="1.5"
>
<game-screen style="width: 1024px;height: 640px;"></game-screen>
<game-stats style="width: 1024px;"></game-stats>
<pilot-list
  data-pilotlist="Bob,Vinston,Betty,Jack,Rosanna,Alexei"
  data-Bob="New guy"
  data-Vinston="Shotgun FTW"
  data-Betty="Blind as a bat"
  data-Jack="One eyed"
  data-Rosanna="Night raid"
  data-Alexei="Contrarian"
></pilot-list>
<touch-controls class="hidden">
  <a href="#" id="37"><</a>
  <a href="#" id="32">O</a>
  <a href="#" id="39">></a>
</touch-controls>
<game-sounds>
  <audio id="snd-crash">
    <source
      src="https://notbigmuzzy.github.io/riveraid/sounds/crash.ogg"
      type="audio/ogg"
    />
  </audio>
  <audio id="snd-destroy">
    <source
      src="https://notbigmuzzy.github.io/riveraid/sounds/destroy.ogg"
      type="audio/ogg"
    />
  </audio>
  <audio id="snd-shot">
    <source
      src="https://notbigmuzzy.github.io/riveraid/sounds/shot.ogg"
      type="audio/ogg"
    />
  </audio>
  <audio id="snd-fuel">
    <source
      src="https://notbigmuzzy.github.io/riveraid/sounds/fuel.ogg"
      type="audio/ogg"
    />
  </audio>
  <audio id="snd-theme">
    <source
      src="https://notbigmuzzy.github.io/riveraid/sounds/theme.ogg"
      type="audio/ogg"
    />
  </audio>
</game-sounds>
</river-body>